.sidebar {
  position: fixed;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5rem;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 3rem;
  height: 3rem;
  font-size: 24px;
  margin: 10px 0;
}

.sidebar img {
  border-radius: 20px;
  padding: 10px 10px !important;
}
