
.nav::after {
    content: "";
    position: relative;
    top: .5rem;
    border-top: 2px solid rgb(89, 11, 137);
    border-radius: 1rem 1rem 0 0;
    width: 50%;
    transition: all .3s ease;
}


.translate_nav::after {
    content: "";
    position: relative;
    top: .5rem;
    border-top: 2px solid rgb(89, 11, 137);
    border-radius: 1rem 1rem 0 0;
    width: 50%;
    transform: translateX(-100%);
    transition: all .3s ease;

}